body{
    font-family: 'Roboto', sans-serif;
}
#par-div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#hero-head-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}
#hero-head-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 100px;
    padding: 20px 40px 40px 40px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
}
#hero-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
#hero-secondary-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero-head-div a{
    font-size: 18px;
    color: #e5e7eb;
}
#hero-div h1{
    font-size: 48px;
    font-weight:bold;
    color: #f9faf8;
}
#hero-div p{
    font-size: 18px;
    color: #e5e7eb;
}
#hero-img{
    width: 500px;
    height: 300px;
}
#hero-div h1,p,button{
    margin: 10px;
}
#hero-div button{
    background-color: #3882f6;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 7px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}




#sub-menu{
    display: flex;
    justify-content: space-between;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}





#quote-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}
#quote-div{
    display: flex;
    flex-direction: column;
}
#quote-div p{
    align-self: flex-end;
    justify-self: flex-end;
}





#cta-cont{
    display: flex;  
    justify-content: center;    /*Justify because this element is in flex-row*/
}
#cta-div{
    display: flex;
    align-items: center;
    background-color: #3882f6;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}